.element__vector-hover {
	height: 22px;
	width: 19px;
	background-image: url(../../../images/blackHeart.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}