.element__basket {
	width: 19px;
	height: auto;
	background-image: url(../../../images/Vector-heart.svg);
	background-color:#fff;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
	transition: 1s;
	margin: 0;
	border: none;
	padding: 0;
}

.element__basket:hover {
	opacity: 0.5;
}