.header {
margin:  45px auto 36.25px;
border-bottom: 1px solid rgba(84, 84, 84, 0.7);
position: relative;
}




@media screen and (max-width: 550px) {
	.header {
		border-bottom: 0;
	}
	.header::after {
		content: "";
		position: absolute;
		height: 1px;
		left: -2.5%;
		right: -2.5%;
		bottom: 0;
		background: rgba(84, 84, 84, 0.7);

	}
}