.profile-info__button {
	width: 24px;
  height: 24px;
	border: 1px solid #FFFFFF;
	background: #000000;
	cursor: pointer;
	transition: 1s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-info__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {

	.profile-info__button {
		width: 18px;
    height: 18px;
	}
}

